.topNavMain {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.8rem 2rem;

  .navRight{
    display: flex;
    gap: 1rem;

    .mail{
      border: 0.1rem solid #d4dae4;
      padding: 0.3rem;
      border-radius: 0.5rem;
}
  }

  h3{
    font-family: system-ui;
    font-weight: 700;
    color: rgb(3, 3, 56);
  }
  .input {
    padding-left: 3rem;
    border-radius: 1rem;
    width: 35rem;
    height: 2rem;
    border: none;
    background-color: whitesmoke;
  }
  .inputIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        margin-right: -2rem;
        z-index: 9;
    }
  }
}
