.totalBalanceMain {
  background-color: white;
  // margin-top: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h5 {
      font-family: system-ui;
      font-weight: 700;
      color: rgb(3, 3, 56);
    }
  }
  .balance {
    h2 {
      font-family: system-ui;
      font-weight: 700;
      color: rgb(3, 3, 56);
    }
  }

  .progress {
    .limit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0.3rem;
      padding-top: 0.2rem;
      span {
        font-family: system-ui;
        font-weight: 700;
        color: rgb(3, 3, 56);
        font-size: x-small;
      }
      .left {
        span {
          color: #646d7d;
        }
      }
      .right {
        .last {
            color: #646d7d;
        }
      }
    }
  }
}
